*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     }

.parentcont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}
#clock{
    color: rgb(1, 1, 7);
    font-size: 80px;
border: 5px solid rgb(41, 29, 29);
padding: 15px;
border-radius: 20px;
    
}


@media only screen and (max-width: 550px) {
    .parentcont {
        width: 100%;
    }
    #clock{
        font-size: 50px; 
      
    }
  }